/* color variables */
:root {
    --dark-olive: #636b2f;
    --sage-green: #bac095;
    --pale-green: #d4de95;
    --deep-green: #3d4127;
}

body {
    background-color: var(--dark-olive);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
}
.btn-custom {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 30px; 
    background-color: var(--sage-green);
    border-color: var(--pale-green);
    color: var(--deep-green);
}
.login-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #000;
}