/* color variables */
:root {
    --dark-olive: #8FAC6A;
    --sage-green: #C1E28A;
    --pale-green: #ABCBA6;
    --deep-green: #416138;
}


.login-container, .dashboard-container {
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    background-color: #8DA367;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.footer-links {
    margin-top: 10px;
    font-size: 12px;
}


.profile-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.paw-logo {
    border-radius: 20%;
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.bi {
    color: black;
  }
body {
    background-color: var(--dark-olive);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    text-align: center;
}

/* home page buttons */
.btn-custom {
    width: 90%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 30px; 
    background-color: var(--sage-green);
    border-color: var(--pale-green);
    color: var(--deep-green);
}

/* login icon */
.login-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #000;
}